body {
    background-color: #f4edff !important;
}

.container {
    background-color: #f4edff !important;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
