body {
    background-color: #f4edff !important;
    height: 100vh;
}

.container {
    background-color: #f4edff !important;
    margin-top: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quiz-card {
    width: 30rem;
}

.question-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
}

.quiz-answer-card:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
}

.right-answer-style {
    background-color:rgba(0, 255, 55, 0.836);
}

.width-100 {
    width: 100%;
}

.text-center {
    text-align: center;
}

.final-headline {
    font-size: 32px;
    margin-bottom: 16px;
}

.button-row {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}